{% extends "base.html" %}


{% block content %}
    <h2>Последние добавленные</h2>
    <div class="after-h2-wrapper">
        <table class="table">
            <tbody>
            {% for snippet in page.snippets %}
                <tr>
                    <td>
                        <a href="/{{ snippet.get_relpath() }}">{{ snippet.metadata.title }}</a>
                    </td>
                    <td class="small-td"><i class="icon-time"></i></td>
                    <td>{{ snippet.metadata.date.strftime('%d.%m.%Y') }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <h2>Облако тегов</h2>
    <div class="after-h2-wrapper center-element tag-cloud">
        {% for tag in tags %}
            <a href="/{{ tag.get_relpath() }}" class="tag{{ tag.weight }}">{{ tag.name }}</a>{% if not loop.last%}, {% endif %}
        {% endfor %}
    </div>
{% endblock %}


{% block right %}
    <div class="span4">
        <h2>О проекте</h2>

        <div class="after-h2-wrapper">
            На этом сайте Вы найдёте сниппеты (snippet - кусок кода, который очень легко воспроизвести в своём проекте) для фреймворка <a href="http://djangoproject.com/" target="_blank">Django</a>.
            <br><br>
            Сайт сделан разработчиками из <a href="http://trilan.ru/" target="_blank">ТриЛана</a>, чтобы помочь другим программистам &laquo;не делать велосипеды&raquo;.
            <br><br>
            Чтобы добавить сюда свой snippet, нужно быть зарегистрированным на <a href="https://github.com/" target="_blank">GitHub</a>, сделать Fork репозитория <a href="https://github.com/trilan/snippets.trilandev.com">содержимого сайта</a>, добавить свой сниппет и отправить нам Pull Request.
            <br><br>

            <div class="center-element">
<iframe src="http://markdotto.github.com/github-buttons/github-btn.html?user=trilan&repo=snippets.trilandev.com&type=fork&size=large&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="135px" height="30px"></iframe>

<a href="https://twitter.com/trilandev" class="twitter-follow-button" data-show-count="false" data-lang="ru" data-size="large">Читать @trilandev</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="http://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
            </div>
        </div>
{% endblock %}