{% extends "base.html" %}


{% block title %}{{ snippet.metadata.title }} &mdash; {{ super() }}{% endblock %}


{% block content %}
    <div class="after-h2-wrapper">
        <div class="snippet">
            <div class="head-title">
                <h3>
                    {{ snippet.metadata.title }}
                </h3>
            </div>
            <div class="head-line-two">
                <div class="tags"><i class="icon-tags"></i>
                    {% for tag in snippet.metadata.tags %}
                        <a href="/{{ tag.get_relpath() }}">{{ tag.name }}</a>{% if not loop.last%}, {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="content">
                {{ snippet.get_formatted_source() }}
            </div>

            <div class="head-line-three">
                <div class="author"><i class="icon-user"></i>
                    {{ snippet.metadata.author }}
                </div>
                <div class="date"><i class="icon-time"></i>
                    {{ snippet.metadata.date.strftime('%d.%m.%Y') }}
                </div>
            </div>
            <hr>

            <!-- TODO: disqus -->
        </div>
    </div>
{% endblock %}


{% block right %}
    <h2>Все теги</h2>
    <div class="after-h2-wrapper tag-cloud">
        <ul class="unstyled">
            {% for tag in tags %}
                <li><a href="/{{ tag.get_relpath() }}">{{ tag.name }}<!-- {{ tag.count }} --></a></li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}