body {
    padding-top: 20px;
    padding-bottom: 10px;
}

header h1 {
    font-size: 80px;
    padding-left: 50px;
    font-family: 'Chau Philomene One', sans-serif;
    font-weight: normal;
    color: #c9dce5;
}

header h1 a, header h1 a:hover {
    color: #c9dce5;
}

.content, p {
    font-family: 'Istok Web', sans-serif;
    font-size: 17px;
}

.content .row h2 {
    text-align: center;
    font-family: 'Marmelad', sans-serif;
    font-size: 32px;
    color: #b2b2b2;
}

.after-h2-wrapper {
    margin-top: 10px;
}

.right-element {
    float: right;
}

.center-element {
    text-align: center;
}

.after-h2-wrapper .table td:last-child {
    width: 80px;
    padding-left: 0px !important;
}

.small-td {
    width: 3px;
    padding-right: 3px !important;
}

.small-td i {
    vertical-align: baseline;
    height: 13px;
}

.tag-cloud {
    font-size: 20px;
    line-height: 1.5;
}

.tag-cloud .tag5 {
    font-weight: bold;
    font-size: 38px;
}

.tag-cloud .tag4 {
    font-weight: bold;
    font-size: 36px;
}

.tag-cloud .tag3 {
    font-size: 33px;
}

.tag-cloud .tag2 {
    font-size: 29px;
}

.tag-cloud .tag1 {
    font-size: 26px;
}

footer p {
    padding-top: 10px;
}

.snippet .head-title h3 {
    padding-left: 20px;
}

.snippet .head-title .comment-count {
    float: right;
    margin-top: -23px;
    color: #999999;
}

.snippet .head-title .comment-count i {
    vertical-align: baseline;
    height: 13px;
    margin-right: 3px;
}

.snippet .head-line-two .tags i {
    vertical-align: baseline;
    height: 13px;
}

.snippet .head-line-three .date {
    float: right;
    margin-top: -19px;
    color: #999999;
}

.snippet .head-line-three .date i {
    vertical-align: baseline;
    height: 13px;
}

.snippet .head-line-three .author {
    color: #999999;
    padding-top: 5px;
}

.snippet .head-line-three .author i {
    vertical-align: baseline;
    height: 13px;
}

.snippet hr {
    border-top: 1px dotted #222222;
    width: 75%;
    margin: 15px auto;
}

.after-h2-wrapper .pagination {
    text-align: center;
}

.span4 .tag-cloud {
    padding-left: 20px;
}

.span4 .tag-cloud ul li {
    padding-bottom: 7px;
}

.snippet .content {
    padding-top: 10px;
    line-height: 1.3;
}